body {
  #background-repeat:no-repeat;
  font-family:  trebuchet ms, lucida, verdana, arial, times; font-size: 11pt;}
  #a:hover { text-decoration: underline }
  #a { text-decoration: underline; color: 003300 }
  table tr td { padding: 5px; font-size: 10pt; border-style: hidden; border-color: #FFFFFF}
select{
	width: 300px;
	font-size: 10pt;
}
h2 { margin: 0px; padding: 11px; font-family: Georgia, "Times New Roman", Times, serif; font-size: 200%; font-weight: normal; color: #FFF; background-color: #336699; border-bottom: #BBB 2px solid; }
 p {
    text-size: 10pt;
    line-height: 1.2;
   }
 .dvhdr {
    background:#99CC00;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    border:1px solid #99CC00;
    padding:5px;
   }
 .dvbdy {
    width:350px;
    background:#FFFFFF;
    font-family:arial;
    font-size:12px;
    border:1px solid #99CC00;
    padding:5px;
   }
 .widehdr {
     width:360px;
     font-family:arial;
     font-size:12px;
     background:#99CC00;
     border:1px solid #99CC00;
     font-weight:bold;
     padding:10px;
   }
 .widehdr_blue {
     width:360px;
     font-family:arial;
     font-size:12px;
     background:#336699;
     border:1px solid #336699;
     font-weight:bold;
     padding:10px;
   }
 .widehdr_yellow {
     width:360px;
     font-family:arial;
     font-size:12px;
     background:#FFFF66;
     border:1px solid #99CC00;
     font-weight:bold;
     padding:10px;
   }
 .widehdr_grey {
     width:360px;
     font-family:arial;
     font-size:12px;
     background:#798E8A;
     border:1px solid #798E8A;
     font-weight:bold;
     padding:10px;
   }
 .widebdy {
      width:360px;
      font-family:arial;
      font-size:12px;
      background:#FFFFFF;
      border:1px solid #99CC00;
      padding:10px;
     }
 .widebdy_blue {
      width:360px;
      font-family:arial;
      font-size:12px;
      background:#FFFFFF;
      border:1px solid #336699;
      padding:10px;
     }
div.errors { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
div.errors p { margin: 0; }
div.errors p em { color: #C00; font-style: normal; font-weight: bold; }

div.form-container form p { margin: 0; }
div.form-container form p.note { margin-left: 170px; font-size: 90%; color: #333; }
div.form-container form fieldset { margin: 10px 0; padding: 10px; border: #DDD 1px solid; }
div.form-container form legend { font-weight: bold; color: #666; }
div.form-container form fieldset div { padding: 0.25em 0; }
div.form-container label,
div.form-container span.label { margin-right: 10px; padding-right: 10px; width: 150px; display: block; float: left; text-align: right; position: relative; }
div.form-container label.error,
div.form-container span.error { color: #C00; }
div.form-container label em,
div.form-container span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
div.form-container input.error { border-color: #C00; background-color: #FEF; }
div.form-container input:focus,
div.form-container input.error:focus,
div.form-container textarea:focus {	background-color: #FFC; border-color: #FC6; }
div.form-container div.controlset label,
div.form-container div.controlset input { display: inline; float: none; }
div.form-container div.controlset div { margin-left: 170px; }
div.form-container div.buttonrow { margin-left: 180px; }
